/*--------------------------------------------------
    ##Footer
---------------------------------------------------*/
.footer-area {
	position: relative;
	padding-top: 200px;
	.subscribe-area-inner {
		border-radius: 0;
	}
 	.widget {
 		position: relative;
 		z-index: 2;
 		margin-bottom: 70px;
 	}
	.widget-title {
		margin-bottom: 29px;
		position: relative;
		color: rgba(255, 255, 255, 0.9);
		&:after {
	        content: '';
	        position: absolute;
	        left: 0;
	        bottom: -6px;
	        height: 3px;
	        width: 60px;
	        background: var(--main-color);
	    }
	}
	.widget_about {
		.thumb {
			margin-bottom: 20px;
		}
		.details {
			p {
				margin-bottom: 0;
				color: rgba(255, 255, 255, 0.9);
				i,
				svg {
					margin-right: 10px;
				}
			}
			.social-media {
				margin-top: 15px;
			}
		}
	}
	.widget_contact {
		ul {
			padding: 0;
			li {
	    		color: rgba(255, 255, 255, 0.9);
				i {
					color: rgba(255, 255, 255, 0.9);
				}
			}
		}
	}
	.widget_nav_menu {
		ul {
			margin: 0;
			padding: 0;
			li {
				list-style: none;
				margin-bottom: 7px;
				position: relative;
				color: rgba(255, 255, 255, 0.9);
				&:hover {
					&:after {
						background: var(--main-color);
					}
				}
			}
		}
	}
}

.footer-middle {
	background-size: cover;
	padding-bottom: 20px;
}
.footer-bottom {
	padding: 23px 0;
	position: relative;
	z-index: 2;
	background: var(--heading-color);
	color: rgba(255, 255, 255, 0.9);
	font-size: 15px;
	p {
		margin-bottom: 0;
		color: rgba(255, 255, 255, 0.9);
		span {
			color: var(--main-color);
		}
	}
}

.footer-subscribe {
    margin-bottom: -100px;
    position: relative;
    z-index: 2;
	.footer-subscribe-inner {
		background: var(--main-color-2);
		padding: 70px 50px;
		border-radius: 7px;
		.single-subscribe-inner {
			input {
			    height: 60px;
			    background: #fff;
			    border-radius: 5px;
			    color: var(--heading-color);
			}
			.btn {
			    height: 48px;
			    line-height: 48px;
			    border-radius: 5px;
			}
		}
	}
}

.footer-area-2 {
	padding-top: 95px;
}